.row {
    display:flex ;
    width: 100%;
    height: 100%;
    position: absolute;
}

.column_left{
    width: 30%;
    min-height: 75%;max-height: 100%;
    background-color: rgb(10, 10, 10);
}

.column_right{
    width: 70%;
    min-height: 75%;max-height: 100%;
    background-color: rgb(151, 149, 149);
}

/* .img_graph{background-color: rgb(151, 149, 149);position:absolute;top: 5%;right: 5%;} */
h2{position: relative;left: 25%; color: rgb(3, 3, 3); font-size: larger; align-self: center;font-family:Arial;}
textarea{color: rgb(0, 0, 0); width: 28%;min-height: 75%;max-height: 100%; position: absolute; margin: 0.5%;}

#dialog_uploadfile{
    font-family: 'Arial';font-size: 0.8em; border: rgb(102, 102, 102); border-radius: 0.5em;background-color: rgb(102, 102, 102); }
#dialog_uploadfile::backdrop{background-color: black;opacity: 70%;}
#cross_red{font-size: 65%;right: 1%;top: 1%;position: absolute; color: red; border: none; font-weight: bolder; border-radius: 0.5em;}


/* Media Query for smaller screens , min-width is to enable PC to give mobile view */
@media only screen and (max-width: 1000px) {
    h1 {
        top: 5%;
    }
    #chat-container {
        border: solid 2px black;
        border-radius: 3px;
        left: 29.5%;
        height: 83%;
    }

    textarea {
        left: 29%;
        bottom: 0%;
    }

    #generate{
        right: 8%;
        bottom: 0.5%;
    }
    #record {
        right: 3%;
        bottom: 0.5%;
    }
    h2 {
    position: absolute;
    bottom: 5%;
    color: aliceblue;
    font-size: small;
    }

    
}
