.row {
    display:flex ;
    width: 100%;
    height: 100%;
    position: absolute;
}

.column_left{
    width: 30%;
    min-height: 75%;max-height: 100%;
    background-color: rgb(10, 10, 10);
}

.column_right{
    width: 70%;
    min-height: 75%;max-height: 100%;
    background-color: rgb(151, 149, 149);
}

/* .img_graph{background-color: rgb(151, 149, 149);position:absolute;top: 5%;right: 5%;} */
h2{position: relative;left: 10.5vw; color: rgb(3, 3, 3); font-size: larger; align-self: center;font-family:Arial;}
textarea{color: rgb(0, 0, 0); width: 28%;min-height: 75%;max-height: 100%; position: absolute; margin: 0.5%;}

#Generate_GraphML_Ini{position: absolute; bottom: 5%;margin: 0.5%;left: 6vw;}
.loader img {
    animation: spin 2s linear infinite; width: 26px; height: 26px;
    border-radius: 0.5em; position: absolute; left: 8.5vw; top: 15vh;
}
#load{position: absolute; left: 11.5vw; top: 12.5vh;font-size: large;font-weight: bolder;}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#width{width: 13%;left: 0.5vw;position: relative;}
#height{width: 13%;left: 0.5vw;position: relative;} 
#run{position: relative;left: 0.5vw;}

/* Media Query for smaller screens , min-width is to enable PC to give mobile view */
@media only screen and (max-width: 1000px) {
.row {
    display: flex;
    flex-direction:row;
    width: 100vw;
}
.column_left{
    width:120vw;
    min-height: 60vh;
    max-height: 60vh;
    left: 0vh;
    background-color: rgb(10, 10, 10);
    position:fixed;
}
.column_right{
    width:120vw;
    min-height: 60vh;
    max-height: 60vh;
    left: -0.8vw;
    background-color: rgb(151, 149, 149); 
    top: 60vh;
    position: absolute;
}
.loader img {
    border-radius: 0.5em; position: absolute; left: 48vw; top: 13.5vh;
    width: 32px; height: 32px;
}
#load{left: 53vw;font-size: x-large;}
h2{left: 50vw;font-size: xx-large;}
textarea{color: rgb(0, 0, 0); width: 110vw;min-height: 53vh;max-height: 53vh; position: absolute;left: 5vw;font-size: medium;}
#width{left: 1vw; position: relative;font-size: x-large;width: 20%;}
#height{left: 1vw;position: relative;font-size: x-large;width: 20%;} 
#run{font-size: x-large;position: relative;left: 1vw;}
b{font-size: x-large;}
}
