<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="..\static\css\main_copy.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>

    <body>

      <div class="row">

        <div class="column_left" style="background-color:#aaa;">

          <h2>GraphML</h2>
          <div id="loader" class="loader">
            <img src="/static/icons/ThingLink-Icon.png" id="img_main" alt="Loading..."/><p id="load">Loading...</p>
          </div>
          <!-- <button id="Generate_GraphML_Ini" onclick="Generate_GraphML_Initiate()">Click to generate GraphML</button> -->
          {% if debug_output_graphml %}
          <textarea id="graphcode" name="graphcode" readonly style="visibility: visible;">{{ debug_output_graphml }}</textarea>
          <textarea id="graphtext" style="visibility: hidden;">{{text_data_graphtext}}</textarea>
          {% else %}
          <textarea id="graphcode" name="graphcode" readonly style="visibility: hidden;">{{ debug_output_graphml }}</textarea>
          <textarea id="graphtext" style="visibility: hidden;">{{text_data_graphtext}}</textarea>
          {% endif %}
          <!-- <textarea id="graphcode" name="graphcode" readonly style="visibility: hidden;">{{debug_output_graphml}}</textarea> -->
        </div>

        <div class="column_right" style="background-color:#bbb;">

          <form id="formforimg" method="get" action="{{url_for('graphml')}}">
            <p><input id="width" type="number" name="width" placeholder="width (default 9)" min="3" max="30" maxlength="2" required/>
            <input id="height" type="number" name="height" placeholder="height (default 6)" min="3" max="30" maxlength="2" required/>
            <input id="run" type="submit" value="Run" style="visibility: visible;"/>
            {%for message in get_flashed_messages()%}
              <b>{{message}}</b>
            {%endfor%}
            </p>
          </form>
          {% if img_uri %}
            <img src="{{ img_uri }}" alt="Plot Image" id="img_graph">
          {% endif %}

        </div>
      </div>

      <script>

        document.addEventListener('DOMContentLoaded', function() {
          Generate_GraphML_Initiate();
        });
        function Generate_GraphML_Initiate() {
          var graphmltext = document.getElementById("graphtext").value; // Use .value to get the content
          console.log("Sending data:", graphmltext); // Log the data being sent
          fetch('/graphml', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify({ graphmltext: graphmltext })
          })
          .then(response => {
              if (!response.ok) { // Checks if response status is not OK
                  if (response.status === 502) {
                      // Specific handling for 502 Bad Gateway error
                      alert('Server error: 502 Bad Gateway. Out of Memory?!');
                      document.getElementById("loader").style.visibility = "hidden";
                      // Here you can update the UI to show an appropriate message to the user
                  }
                  return Promise.reject('Failed to fetch due to server error: ' + response.status);
              }
              return response.json(); // Proceed to process the response if no error
          })
          .then(data => {
              console.log("Received data:", data); // Log the received data
              if(data.graphml_content) { // Ensure there's GraphML content in the response
                  document.getElementById("graphcode").value = data.graphml_content;
                  document.getElementById("graphcode").style.visibility = "visible";
                  document.getElementById("loader").style.visibility = "hidden";
              } else {
                  // Handle error or empty data scenario
                  alert('No GraphML content received');
              }
          })
        }

      </script>    
    </body>
</html>
